.navbar {
  display: flex;
  margin: 20px 10px;
  justify-content: space-around;
  width: 90%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style-type: none;
}
li {
  display: inline-block;
  margin: 0 25px;
  /* padding: 10px; */
  font-size: 1.1rem;
  font-weight: 600;
}
.Book-now-button {
  padding: 0.7rem 1.75rem;
  background-color: white;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
  margin-left: 1rem;
}

.home-banner {
  position: relative;
  display: flex;
  padding-top: 2rem;
}
.home-banner-image-container {
  position: absolute;
  top: -100px;
  z-index: -2;
  right: -170px;
  max-width: 700px;
}
.home-plate-image-container {
  position: absolute;
  z-index: -1;
  top: 20px;
  max-width: 570px;
  right: 3rem;
}
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 10%;
  margin-top: auto;
  gap: 1rem;
}
.primary-text {
  font-size: clamp(2rem, 5vw, 4rem);
  color: #4c4c4c;
  /* line-height: 5rem; */
  max-width: 600px;
  line-height: 73.14px;
}
.secondary-text {
  font-size: clamp(16px, 3vw, 25px);
  color: #828282;
  /* line-height: 5rem; */
  max-width: 600px;
  line-height: 30.48px;
}
.primary-button {
  background-color: #fe9e0d;
  color: white;
  border: none;
  border-radius: 20px;
  height: 40px;
  width: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 15px;

  font-weight: 700;
  font-size: 18px;
}

.About-us-banner {
  position: relative;
  display: flex;
  padding-top: 2rem;
  margin-top: 18rem;
}

.About-us-banner-image-container {
  position: absolute;
  max-width: 250px;
  z-index: -1;
  top: -100px;
}
.About-us-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 40%;
  /* margin-top: "200px";
  top: "200px"; */
  gap: 1rem;
}

.About-us-plate-image-container {
  position: absolute;
  max-width: 550px;
  margin-top: "200px";
}

.work-container {
  position: relative;
  padding-top: 2rem;
  margin-top: 18rem;
}

.work-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.work-primary-text {
  font-size: clamp(2rem, 5vw, 3rem);
  color: #4c4c4c;
  /* line-height: 5rem; */
  max-width: 600px;
  line-height: 73.14px;
}

.work-p-content {
  gap: 1rem;
  font-size: clamp(1rem, 5vw, 1.3rem);
  max-width: 500px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #828282;
}
.work-card-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  /* max-width: 700px; */
}

.card{
  margin-top: 2rem;
  border: 1px solid #E0E0E0;
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  gap: 1rem;
  background-color: white;
  box-shadow: 5px 10px 8px 10px rgb(253, 250, 250)
}
.card-image{
  width: 100px;
  height: 100px;
}
.card-title{
  font-size:clamp(1rem, 5vw, 1.5rem);
  font-weight: 600;
  color: #4C4C4C;
}
.card-content{
  font-size:clamp(1rem, 5vw, 1.2rem);
  color: #828282;
  text-align: center;
  max-width: 250px;
}